.homeContainer {
    background-image: url('../../images/SneakerHeadsBG.jpeg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set background height to viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }